p{
	width:300px;
	height:250px;
	border:1px solid #000;
	border-radius:10px;
	padding:10px;
	text-align:justify;
	transition:width 2s,height 2s,background-color 2s, color 2s;
	transition-timing-function:cubic-bezier(0,0.5,1,0.5);
	
	ease,linear,ease-in,ease-out,ease-in-out,cubic-bezier
}

p:hover{
	width:500px;
	height:120px;
	background-color:#f00;
	color:#fff;
}