body{
	margin:0px;
}

div{
	border:1px solid #000;
	width:500px;
	margin:auto;
	margin-bottom:50px;
	
}

#dv1{
	padding-top:50px;
	padding-right:0px;
	padding-bottom:150px;
	padding-left:200px;
}

#dv2{
	padding:50px;
}