body{	background-color:#bbb;
		background-image:url(cfb.jpg), url(logo-CSS3.jpg);
		background-size:200px, 100px;
		background-repeat:no-repeat, repeat;
		background-position:200px 200px, 0px 0px;
}

p{	font-size:30pt;
	color:#FFF;
	background-color:#0F0;
	background-image:url(marcador.png);
	background-repeat:repeat-x;
	background-position:0px 8px;
}
	
